YNAB_ACCESS_TOKEN=op://Personal/name_of_access_token_secret/credential
ENABLEBANKING_APPLICATION_ID=op://Personal/name_of_private_key_secret/application_id
ENABLEBANKING_PRIVATE_KEY=op://Personal/name_of_private_key_secret/private key
